<style>
    .card {
        height: 520px;
    }
    .col-sm-6 {
        margin-bottom: 20px;
    }
    .pagination {
        text-align: center;
    }
    #paging ul{
        list-style: none;
        display: flex;
    }
    .input-number-page {
        margin-left: 10px;
        width: 50px;
        height: 35px;
    }
    .card:hover {
        opacity: 0.8;
    }
    a > img{
        display:block;
        transition: all .3s ease;
    }
    .img-scale{
        display:block;
        overflow: hidden;
    }
    img:hover {
        transform: scale(1.3); /* cỡ zoom khi di chuột vào */
    }
</style>
<div class="row mt-4">
    {{#each tours}}
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="img-scale">
                <a href="/tours/{{this._id}}" style="text-decoration: none;">
                    <div class="img-temp" style="display: none;">{{this.image}}</div>
                    <img class="card-img-top img-new" src="{{this.image}}" alt="{{this.title}}" style="height: 300px;">
                </a>
            </div>
            <div class="card-body">
                <a href="/tours/{{this._id}}" style="text-decoration: none; color: #00CED1 !important;">
                    <h5 class="card-title">{{this.title}}</h5>
                </a>
                <div>{{this.time}}</div>
            </div>
            <div class="card-body price_convert" style="font-size: 25px;font-weight: bold; color: red; border-top: 1px solid #ebebeb;">
                {{this.price}}
            </div>
        </div>     
    </div>
    {{/each}}
</div>


<form name="filter-form"></form>

<script>
    var s = document.querySelectorAll(".img-temp")
    var numberCard = document.querySelectorAll(".img-new")
    for(var i = 0; i < numberCard.length; i++){
       var s_new = s[i].innerHTML
       for(var j = 0; j < s_new.length; j++)
            if(s_new[j] == ","){
                s_new = s_new.slice(0, j)
                console.log(s_new)
                break
            }
       //s_new = s_new.replace(/\\/g, '/')
       //s_new = s_new.slice(10)
       numberCard[i].setAttribute("src", s_new)
    }
    document.addEventListener("DOMContentLoaded", function(){
        var s = document.querySelectorAll(".price_convert")
        for(var i = 0; i < s.length; i++){
            var string = s[i].innerHTML.trim()
            var len = string.length;
            for(var j = len - 3; j > 0; j-=3){
                string = string.slice(0, j) + "." + string.slice(j)
            }
            string = string + " VND"
            string = string.slice(0, 0) + " " + string.slice(0)
            document.getElementsByClassName("price_convert").innerHTML = s
            s[i].innerHTML = string
        }
        
    })
        
</script>


