<style>
    .mySlidesDes {display: none; width:80%; height: 250px;}
    .button-leftDes{left:5%; font-size:20px}
    .button-rightDes{right:5%; font-size:20px }
    .image-buttonDes{border:none;display:inline-block;padding:10px;height:50px;vertical-align:middle;overflow:hidden; color:#fff;background:#000;position:absolute;top:calc(50% - 25px); opacity:0.5;}
    .image-buttonDes:hover{color:#000;background:#ccc; cursor: pointer;}
    h2{
        font-weight: bold;
        text-align: center;
        color: #00CED1;
    }
    .image{
        text-align: center;
    }
    img {
        width: 500px;
    }
    .destination {
        background: #b0d9b0;
        border: 1px solid #ffffff;
        height: 10px;
        width: 10px;
        border-radius: 50px;
        padding: 2px;
    }
    .destination-link {
        text-decoration: none; 
        color: #000 !important;
    }
    .destination-link:hover {
        text-decoration: none;
        color: rgb(208, 135, 0) !important;
        font-weight: bold;
    }
</style>
<div class="container">
    <h2 class="mt-4">
        {{tour.title}}    
    </h2>
    <div class="row">
        <div class="mt-4 image col">
            {{!-- <img src="{{tour.image}}" alt="{{tour.title}}" style="width: 488px; height: 350px;"> --}}
            <div id="number-image" style="display: none;">{{tour.image}}</div>
            <div class="mt-4 mb-4 slideshow" style="text-align: center !important;">
                <div id="image-list" class="display-container">
                    <button class="image-buttonDes button-leftDes" onclick="plusDivsDes(-1)">&#10094;</button>
                    <button class="image-buttonDes button-rightDes" onclick="plusDivsDes(1)">&#10095;</button>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="ml-2">Destinations: {{#each destinations}}<a class="destination-link" href="/destinations/{{this._id}}"><span class="destination">{{this.name}}</span></a> {{/each}}</div>
            <div class="ml-2"><i class="oi oi-clock"> {{tour.time}}</i></div>
            <div class="ml-2"><i id="price_convert" class="oi oi-tag"> {{tour.price}}</i></div>
            <div class="ml-2"><i class="oi oi-globe"> <a class="contact-detail" href="{{tour.contact}}" target="blank" style="text-decoration: none;">{{tour.contact}}</a></i></div>
            <div class="mt-4">{{tour.content}}</div>   
        </div>
    </div>

    <div class="mt-4" style="font-size: 25px; text-align: center; font-style: italic">Similar Tours</div>
    <div class="row">
    {{#each tourSimilar}}
        <div class="col-6">
        <div class="card">
            <div class="img-scale">
            <a href="/tours/{{this._id}}" style="text-decoration: none;">
                <div class="img-temp" style="display: none;">{{this.image}}</div>
                <img class="card-img-top scale-similar img-new" src="{{this.image}}" alt="{{this.title}}" style="height: 300px;">
            </a>
            </div>
            <div class="card-body">
                <a href="/tours/{{this._id}}" style="text-decoration: none;">
                    <div class="row">
                        <div class="card-title col-10" style="color: #00CED1">{{this.title}}</div>
                    </div>
                </a>
                <p class="card-text price_convert" style="color: red">{{this.price}}</p>
            </div>
        </div> 
        </div>
    {{/each}}
    </div>
</div>

<div class="check_auth_comment" style="display:none;">{{account.username}}</div>

<script>
    var s = document.getElementById("number-image").innerHTML
    //s = s.replace(/\\/g, "/")
    var arr = s.split(",")
    var imgNumber
    
    for(var i = 0; i < arr.length; i++){
        imgNumber = document.createElement("img")
        imgNumber.src = arr[i]
        imgNumber.className = "mySlidesDes"
        imgNumber.style = 'style="width: 488px; height: 350px;"'
        document.getElementById("image-list").appendChild(imgNumber)
    }

    var s = document.querySelectorAll(".img-temp")
    var numberCard = document.querySelectorAll(".img-new")
    for(var i = 0; i < numberCard.length; i++){
       var s_new = s[i].innerHTML
       for(var j = 0; j < s_new.length; j++)
            if(s_new[j] == ","){
                s_new = s_new.slice(0, j)
                console.log(s_new)
                break
            }
       //s_new = s_new.replace(/\\/g, '/')
       //s_new = s_new.slice(10)
       numberCard[i].setAttribute("src", s_new)
    }
    document.addEventListener("DOMContentLoaded", function(){
        var contactDetail = document.querySelector(".contact-detail").innerHTML
        if(!contactDetail.includes("http")){
            document.querySelector(".oi-globe").classList = "oi oi-phone"
            var s = contactDetail
            var span = document.createElement("span");
            span.textContent = s
            document.querySelector(".contact-detail").replaceWith(span)
        }

        var s = document.querySelectorAll(".price_convert")
        for(var i = 0; i < s.length; i++){
            var string = s[i].innerHTML.trim()
            var len = string.length;
            for(var j = len - 3; j > 0; j-=3){
                string = string.slice(0, j) + "." + string.slice(j)
            }
            string = string + " VND"
            string = string.slice(0, 0) + " " + string.slice(0)
            document.getElementsByClassName("price_convert").innerHTML = s
            s[i].innerHTML = string
        }
    })
    var slideIndexDes = 1
    showDivsDes(slideIndexDes)

    function plusDivsDes(n) {
        showDivsDes(slideIndexDes += n)
    }

    function showDivsDes(n) {
        var i;
        var x = document.getElementsByClassName("mySlidesDes");
        if (n > x.length) {slideIndexDes = 1}
        if (n < 1) {slideIndexDes = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        x[slideIndexDes-1].style.display = "inline-block";  
}
</script>